.header-container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 29.69px;
    padding: 24px;
    margin-left: 310px;
    
    ul{
        li{
            a{
                color: black;
            }
        }
    }
}
